{% extends 'registration/default.html' %}

{% block title %}Reset Password | {% endblock %}

{% block content %}
{% if validlink %}
    <div class="panel panel-default">
        <div class="panel-heading">
            <div class="panel-title">Reset Your Password</div>
        </div>
        <div class="panel-body">
            <form method="post">
                {% csrf_token %}
                <div class="form-group form-group-default{% if form.new_password1.errors %} has-error{% endif %}">
                    <label>New Password</label>
                    <input type="password" class="form-control" name="{{ form.new_password1.name }}" value="{{ form.new_password1.value|default_if_none:"" }}" placeholder="New Password" required autofocus>
                </div>
                {% if form.new_password1.errors %}<span class="help-block errors">{{ form.new_password1.errors }}</span>{% endif %}
                <div class="form-group form-group-default{% if form.new_password2.errors %} has-error{% endif %}">
                    <label>Confirm Password</label>
                    <input type="password" class="form-control" name="{{ form.new_password2.name }}" value="{{ form.new_password2.value|default_if_none:"" }}" placeholder="Confirm Password" required>
                </div>
                {% if form.new_password2.errors %}<span class="help-block errors">{{ form.new_password2.errors }}</span>{% endif %}
                <hr>
                <div class="pull-right">
                    <button type="submit" class="btn btn-primary">Change Password</button>
                </div>
                <div class="clearfix"></div>
            </form>
        </div>
    </div>
{% else %}
    <p>The password reset link was invalid, possibly because this link has been used already.</p>
    <p class="standalone"><a href="{% url 'password_reset' %}">Try requesting for a new password reset link here</a>.</p>
{% endif %}
{% endblock %}
