{% extends 'registration/default.html' %}

{% block title %}Reset Password | {% endblock %}

{% block content %}
<div class="panel panel-default">
    <div class="panel-heading">
        <div class="panel-title">We've emailed you instructions for resetting your password.</div>
    </div>
    <div class="panel-body">
        <p>You should receive them shortly.</p>
        <p>If you don't receive an email, please make sure you've entered the address you registered with and check your spam folder.</p>
        <p class="standalone"><a href="{% url 'dashboard' %}">Click here to get back to the dashboard.</a></p>
    </div>
</div>
{% endblock %}
