<div class="modal fade stick-up disable-scroll" id="modal-confirm" tabindex="-1" role="dialog" aria-labelledby="Confirm Dialog" aria-hidden="false">
    <div class="modal-dialog modal-sm">
        <div class="modal-content-wrapper">
            <div class="modal-content">
                <div class="modal-header clearfix text-left">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="pg-close fs-14"></i></button>
                    <h5 id="modal-confirm-title">Warning!</h5>
                </div>
                <div class="modal-body">
                    <p id="modal-confirm-text" class="no-margin"></p>
                </div>
                <div class="modal-footer">
                    <button id="modal-confirm-yes" type="button" class="btn btn-primary btn-cons pull-left inline">Continue</button>
                    <button id="modal-confirm-no" type="button" class="btn btn-default btn-cons no-margin pull-left inline" data-dismiss="modal">Cancel</button>
                </div>
            </div>
        </div>
    </div>
</div>
