{% extends 'reservations/layouts/default.html' %}
{% load static %}
{% load form_extras %}

{% block title %}Superusers | {% endblock %}

{% block addCSS %}
    <link href="{% static 'assets/plugins/jquery-datatable/media/css/jquery.dataTables.css' %}" rel="stylesheet">
    <link href="{% static 'assets/plugins/jquery-datatable/extensions/FixedColumns/css/dataTables.fixedColumns.min.css' %}" rel="stylesheet">
    <link href="{% static 'assets/plugins/datatables-responsive/css/datatables.responsive.css' %}" rel="stylesheet">
    <link href="{% static 'assets/plugins/bootstrap-select2/select2.css' %}" rel="stylesheet">
{% endblock %}

{% block addJS %}
    <script src="{% static 'assets/plugins/jquery-datatable/media/js/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'assets/plugins/jquery-datatable/extensions/TableTools/js/dataTables.tableTools.min.js' %}"></script>
    <script src="{% static 'assets/plugins/jquery-datatable/extensions/Bootstrap/jquery-datatable-bootstrap.js' %}"></script>
    <script src="{% static 'assets/plugins/datatables-responsive/js/datatables.responsive.js' %}"></script>
    <script src="{% static 'assets/plugins/datatables-responsive/js/lodash.min.js' %}"></script>
    <script src="{% static 'assets/plugins/jquery-datatable/plugins/natural/natural.js' %}"></script>
    <script src="{% static 'assets/plugins/bootstrap-select2/select2.min.js' %}"></script>
    <script>
        $(document).ready(function() {
            var settings = {};

            settings["emptyTable"] = "There are currently no superusers.";
            settings["columnDefs"] = [
                { "orderable": false, "targets": [ 1 ] },
                { "searchable": false, "targets": [ 1 ] },
                { "type": "natural", "targets": [ 0 ] }
            ];
            settings["search"] = "#superusers-search";
            $("#superusers").createDataTable(settings);

            settings["emptyTable"] = "There are currently no team managers.";
            settings["columnDefs"] = [
                { "orderable": false, "targets": [ 1, 2 ] },
                { "searchable": false, "targets": [ 1, 2 ] },
                { "type": "natural", "targets": [ 0 ] }
            ];
            settings["search"] = "#managers-search";
            $("#managers").createDataTable(settings);
        });
    </script>
{% endblock %}

{% block breadcrumbs %}
<ul class="breadcrumb multiple-btn">
    <li>Admin</li>
    <li><a href="{% url 'all_managers' %}" class="active">Superusers</a></li>
</ul>
<div class="pull-right">
    <button class="btn btn-default m-t-10" data-toggle="modal" data-target="#modal-new-manager"><i class="fa fa-plus-circle"></i><span class="hidden-xs"> New Team Manager</span></button>
    <button class="btn btn-default m-t-10" data-toggle="modal" data-target="#modal-new-superuser"><i class="fa fa-star"></i><span class="hidden-xs"> New Superuser</span></button>
</div>
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="panel-title">Team Managers</div>
                <div class="table-search hidden-xs pull-right">
                    <input type="text" id="managers-search" class="form-control input-sm" placeholder="&#xF002;">
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="panel-body">
                <div class="table-responsive">
                    <table id="managers" class="table table-striped table-condensed table-admin-managers">
                        <thead>
                            <tr>
                                <th>Username</th>
                                <th>Managed Teams</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for manager in managers %}
                                <tr>
                                    <td>{{ manager.username }}</td>
                                    <td>
                                        <form method="post" action="{% url 'api_manager_modify_teams' %}" class="form-dynamic-select" data-success="{{ manager.username }}">
                                            {% csrf_token %}
                                            <input type="hidden" name="{{ modify_teams_form.manager.name }}" value="{{ manager.pk }}">
                                            {% dynamicSelectField modify_teams_form.teams value=manager.teams placeholder="This team manager can't manage any teams. Click here to add some." %}
                                        </form>
                                    </td>
                                    <td><a href="{% url 'remove_manager' user_id=manager.pk %}" class="btn btn-danger confirm" data-custom="This user will be deleted permanently! Proceed with caution." data-toggle="tooltip" title="Delete"><i class="fa fa-trash"></i></a></td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="panel-title">Superusers</div>
                <div class="table-search hidden-xs pull-right">
                    <input type="text" id="superusers-search" class="form-control input-sm" placeholder="&#xF002;">
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="panel-body">
                <div class="table-responsive">
                    <table id="superusers" class="table table-striped table-condensed table-action-1">
                        <thead>
                            <tr>
                                <th>Username</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for superuser in superusers %}
                                <tr>
                                    <td>{{ superuser.username }}</td>
                                    <td><a href="{% url 'remove_superuser' user_id=superuser.pk %}" class="btn btn-danger confirm" data-custom="This user will be deleted permanently! Proceed with caution." data-toggle="tooltip" title="Delete"><i class="fa fa-trash"></i></a></td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block modals %}
<div class="modal fade stick-up disable-scroll" id="modal-new-superuser" tabindex="-1" role="dialog" aria-labelledby="New Superuser Dialog" aria-hidden="false">
    <div class="modal-dialog">
        <div class="modal-content-wrapper">
            <div class="modal-content">
                <div class="modal-header clearfix text-left">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="pg-close fs-14"></i></button>
                    <h5>Add a New Superuser</h5>
                </div>
                <div class="modal-body">
                    <form method="post" action="{% url 'new_superuser' %}">
                        {% csrf_token %}
                        {% textField superuser_form.username required=True label="Username" poptext='The username cannot have spaces or unusual characters. It can contain numbers, letters, and the following characters: <span class="label label-default">@</span> <span class="label label-default">.</span> <span class="label label-default">+</span> <span class="label label-default">-</span> <span class="label label-default">_</span>' %}
                        {% emailField superuser_form.email required=True label="Email" placeholder="hello@example.com" %}
                        {% passwordField superuser_form.password1 required=True label="Password" %}
                        {% passwordField superuser_form.password2 required=True label="Confirm Password" %}
                        <div class="row">
                            <div class="col-md-offset-10 col-md-2">
                                <button type="submit" class="btn btn-block btn-primary">Create</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade stick-up disable-scroll" id="modal-new-manager" tabindex="-1" role="dialog" aria-labelledby="New Team Manager Dialog" aria-hidden="false">
    <div class="modal-dialog">
        <div class="modal-content-wrapper">
            <div class="modal-content">
                <div class="modal-header clearfix text-left">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="pg-close fs-14"></i></button>
                    <h5>Add a New Team Manager</h5>
                </div>
                <div class="modal-body">
                    <form method="post" action="{% url 'new_manager' %}">
                        {% csrf_token %}
                        {% textField manager_form.username required=True label="Username" poptext='The username cannot have spaces or unusual characters. It can contain numbers, letters, and the following characters: <span class="label label-default">@</span> <span class="label label-default">.</span> <span class="label label-default">+</span> <span class="label label-default">-</span> <span class="label label-default">_</span>' %}
                        {% emailField manager_form.email required=True label="Email" placeholder="hello@example.com" %}
                        {% passwordField manager_form.password1 required=True label="Password" %}
                        {% passwordField manager_form.password2 required=True label="Confirm Password" %}
                        {% multipleSelectField manager_form.teams label="Teams They Can Make Reservations For" placeholder="Click here to add teams." %}
                        <div class="row">
                            <div class="col-md-offset-10 col-md-2">
                                <button type="submit" class="btn btn-block btn-primary">Create</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
